<!DOCTYPE html>
<html>
    <head>
        <title>EJS 예제</title>
        <script type="text/javascript" src="./js/rsp.js"></script> <!-- html은 브라우저내에서 렌더링하기 때문에, ./(현재 디렉토리)에서 들어가는게 맞음 -->
    </head>
    <body>
        <p>EJS 페이지</p>
        <p><%= name %></p>

    </body>
</html>